.grid{
    color: #ffc059;
    stroke-width: 1px;
    opacity: 1;
}

.halftime{
    opacity: 1;
    stroke: #ffc059;
    stroke-width: 5px;
}

.draw {
    opacity: 0.8;
    stroke: #ffc059;
    stroke-width: 5px;
}

.area {
    color: #0a3634;
    stroke: papayawhip;
    stroke-width: 2px;
    stroke-opacity; 1;
    opacity: 0.9;
}

.axes {
    font: 14px Georgia;
    font-size: 1.5vh;
    color: #ffc059;
    stroke-width: 3px;
}

.axes-label {
    fill: #ffc059;
}

.chart-title {
    fill: #ffc059;
}

#viz {
    min-height: 60vh;
    margin-bottom: 5vh;
    background-color: #166e6b;
}