.x_ticks_ips{
    font-size: 1.5vh;
}

.grid{
    color: papayawhip;
    stroke-width: 1px;
    opacity: 1;
}

.grid_ips{
    color: papayawhip;
    stroke-width: 2px;
    opacity: 1;
}

.halftime{
    opacity: 1;
    stroke: #ffc059;
    stroke-width: 5px;
}

.draw {
    opacity: 0;
    stroke: #ffc059;
    stroke-width: 5px;
}

.area {
    color: #0a3634;
    stroke: #ff1c73;
    stroke-width: 3px;
    stroke-opacity: 1;
    fill-opacity: 0.5;

}

.axes {
    font: 14px Georgia;
    font-size: 2.2vh;
    color: #ffc059;
    stroke-width: 3px;
}

.axes-label {
    fill: #ffc059;
}

.chart-title {
    fill: #ffc059;
}

#viz {
    min-height: 60vh;
    margin-bottom: 5vh;
    background-color: #166e6b;
}

#checkboxes{
    overflow: auto;
}