.checkbox{
    margin: 0.6vw;
    font-size: 2vh;
    display: inline-table;
}

.checkbox_box {
    margin: 0.8vw;
    transform: scale(1.7);
}

#checkbox_master {
    margin: 1vw;
    background-color: #0a3634;
    border-color: #ffc059;
    color: #ffc059;
    
}