/* Handling the Appearance of links */
/* unvisited link */
option:link {
    color: #ffc059;
}

/* visited link */
option:visited {
    color: #ffc059;
}

/* mouse over link */
option:hover {
    color: #ff1c73;
    text-decoration: none;
    cursor: pointer;
}
