/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0a3634;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc059;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff1c73;
}